.contaner {
    height: calc(100% - 165px);
    width: calc(100% - 98px);
    background: var(--sidebar-color);
    position: absolute;
    top: 70px;
    margin-left: 100px;
    border-radius: 15px;
    z-index: 1;
}

.contaner h3 {
    width: calc(100% - 98px);
    color: var(--text-color);
    margin-left: 10px;
    margin-top: 17px;
}

.cards-scroll {
    width: 100%;
    margin-top: 10px;
    height: 150px;
    background: transparent;
}

.cards {
    width: 100%;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;

}